In [1]:
import pyspark.sql.functions as F
from pyspark.sql.types import *
import pandas as pd

In [2]:
def show (df,n):
    from IPython import display
    display.display(df.limit(n).toPandas())

In [3]:
id_path = '/Users/IsabelGontijo/git/covid-19/refined/data/02_id_creation/'

In [4]:
df = spark.read.csv(id_path, header = True, multiLine = True)
show(df, 5)

,epi_week,date,state,city,ibgeID,newDeaths,deaths,newCases,totalCases,deaths_per_100k_inhabitants,totalCases_per_100k_inhabitants,deaths_by_totalCases,id
0,9,2020-02-25,SP,SAO PAULO/SP,3550308,0,0,1,1,0.000,0.008,0.000,1
1,9,2020-02-25,TOTAL,TOTAL,0,0,0,1,1,0.000,0.000,0.000,2
2,9,2020-02-26,SP,SAO PAULO/SP,3550308,0,0,0,1,0.000,0.008,0.000,3
3,9,2020-02-26,TOTAL,TOTAL,0,0,0,0,1,0.000,0.000,0.000,4
4,9,2020-02-27,SP,SAO PAULO/SP,3550308,0,0,0,1,0.000,0.008,0.000,5

In [5]:
df = df.withColumn('id', F.col('id').cast(LongType()))

In [6]:
print(df.select('id').distinct().count())
print(df.count())

3424340
3424340

In [7]:
tmp = df.select(F.min('id'), F.max('id')).cache()
tmp.show()

+-------+-------+
|min(id)|max(id)|
+-------+-------+
|      1|3424340|
+-------+-------+

In [8]:
tmp = tmp.toPandas()

In [9]:
tmp['max(id)'] - tmp['min(id)']

0    3424339
dtype: int64

In [10]:
if sc: sc.stop()